  <p>Founded in 1999, eLogicTech Solutions Inc. is a leading provider of computer aided design 2D/3D Animation and drafting solutions to the global architecture, engineering and construction industry. Headquartered in California, USA, eLogicTech maintains a state of the art development center in Hyderabad, India. </p>
 <p>
eLogicTech offers a full range of architectural services, both quality-controlled and deadline-sensitive to meet the international industry standards. eLogicTech has rich and varied experience having worked on more than 1200 international projects from simple blue line conversions to complex design development and construction documentation for large corporate buildings, leisure, hospitality, critical facilities and historic conservation.</p> 

