<!-- Header and Nav -->

  <div class="large-12 columns">
    <h1><img src="/assets/elogic_logo.png"></h1>
  </div>
  <div class="row text-center">
    <ul class="button-group ">
      <li><a href="#" class="button">Home</a></li>
      <li><a href="#" class="button">About Us</a></li>
      <li><a href="#" class="button">Services</a></li>
      <li><a href="#" class="button">Case Studies</a></li>
      <li><a href="#" class="button">Technology</a></li>
      <li><a href="#" class="button">Contact</a></li>
      <li><a href="#" class="button">News</a></li>
      
    </ul>
  </div>





<!-- End Header and Nav -->